################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/PMT/bin
/PMT/{C767AE5E-1406-4DF5-BB86-1AAD83D30514}
/Web/{C767AE5E-1406-4DF5-BB86-1AAD83D30514}
